<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="@Url.Content("~/Content/kendo/2013.2.716/kendo.blueopal.min.css")" rel="stylesheet"  type="text/css"/>
    <link href="@Url.Content("~/Content/kendo/2013.2.716/kendo.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/Scripts/jquery-2.0.3.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.10.3.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/kendo/2013.2.716/kendo.web.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/JSCustom.js")" type="text/javascript"></script>
   
     <script type="text/javascript">
        $(document).ready(function () {
            $("#DisplayMenu2").click(function () {
                $("#menu2").toggle("fast");
                $(this).toggleClass("active");
                return false;
            });
        });

        //To define the data source for tree menu
        homogeneous = new kendo.data.HierarchicalDataSource({
            transport: {
                read: {
                    url: '@Url.Action("LoadMenu","Home")',
                    //dataType: "json",
                    type: "GET"

                }
            },
            schema: {
                model: {
                    id: "ID",
                    //name: "MenuName",
                    hasChildren: "HasChild"
                }
            }
        });
        //To define the data source for tree menu

        //To configure the tree menu
        $(document).ready(function () {
            $("#menu2").kendoTreeView({
                dataSource: homogeneous,
                dataTextField: "Caption",
                loadOnDemand: true,
                dataUrlField: "Link",
                hasChildren: "HasChild"
                
            });
        });


    </script>
    <style type="text/css">
        .Rotate-90 {
            display: block;
            position: fixed;
            left: -25px;
            top: 63px;
            -webkit-transform: rotate(-90deg);
            -moz-transform: rotate(-90deg);
            transform: rotate(-90deg);
        }
    </style>
</head>
    <body>
       

        <header>
            <nav id="topBanner" class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header col-lg-10">
                        <div class="col-lg-7" style="padding: 0 0 0 0">
                            <a class="navbar-brand" href='@Url.Action("Index","Home")'>Bengal Leather Complex Management Information System(BLCMIS) </a>
                        </div>
                        <div class="col-lg-5" style="padding: 0 0 0 0;">
                            <label id="userinfo" style="padding-top:15px; color: #556b2f; font-weight: bold; font-size: 16px; float:right">
                                User Name : @Session["UserName"]
                            </label>
                        </div>
                        
                        
                    </div>
                    
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse col-lg-2" style="float:right">
                        @Html.Partial("_LogoutPanel")
                    </div>
                </div><!-- /.container-fluid -->
            </nav>
        </header>
        <div class="container body-content">
            <div class="Rotate-90">
                <input type="button" id="DisplayMenu2" style="float: left; font-weight: bold; margin-top:19px; background-color: #CD2626; color: White;"
                       value="Menu" />
            </div>
            <div id="body" style="font-size: 12px; width: 102%; background-color: #EEF3E2; float: left; margin-left: -10px; margin-top: -10px; height: 550px; z-index: 1">
                <div id="menu2" style="background-color: White; width: 550px;  height: 545px;  margin-top: 10px; position: fixed; left: 25px; z-index: 2; display: none;">
                </div>
                @RenderBody()
            </div>
        </div>
    </body>
</html>