@{
    ViewBag.Title = @ViewBag.formTiltle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<title>@ViewBag.formTiltle</title>
<div class="row">
    <div class="FormHeader">
        <fieldset id="FormHeaderFieldSet">
            <div id="FormTitlePannel" class="col-lg-4">
                <div id="FormTitle" style="font-size:larger; font-weight:bold;">@ViewBag.formTiltle</div>
            </div>
            <div id="MessageText" class="col-lg-6">
            </div>
            <div id="ButtonPanel" class="col-lg-2">
                <input type="button" id="btnReset" class="Button" value="Reset" style="position:absolute; right:20px;" />
                <input type="button" id="btnSubmit" class="Button" value="Save" onclick="Save()" style="position: absolute; right: 75px;" />
            </div>
        </fieldset>
    </div>
</div>
<input type="hidden" class="txtBox" id="StoreID" />
<div class="row">
    <div class="FormBody">
        <div class="row">
            <div class="col-lg-2">
                <label>Store Code<span style="color: red">*</span></label>
            </div>
            <div class="col-lg-2">
                <input type="text" id="StoreCode" class="txtBox RequiredTextBox SetFocus" name="StoreCode" tabindex="1" />
            </div>
            <div class="col-lg-2">
                <label>Store Category</label>
            </div>
            <div class="col-lg-2">
                <select id="StoreCategory" class="txtBox" tabindex="3">
                    <option value="">--Select--</option>
                    <option value="Leather">Leather</option>
                    <option value="Chemical">Chemical</option>
                    <option value="Production">Production</option>
                    @*<option value="Job Order">Job Order</option>
                        <option value="Loan">Loan</option>*@
                </select>
            </div>
            <div class="col-lg-2">
                <label>Status</label>
            </div>
            <div class="col-lg-2">
                <select id="IsActive" class="txtBox" tabindex="5">
                    <option value="Active">Active</option>
                    <option value="Inactive">Inactive</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
                <label>Store Name<span style="color: red">*</span></label>
            </div>
            <div class="col-lg-2">
                <input type="text" id="StoreName" class="txtBox RequiredTextBox" name="StoreName" tabindex="2" />
            </div>
            <div class="col-lg-2">
                <label>Store Type</label>
            </div>
            <div class="col-lg-2">
                <select id="StoreType" class="txtBox" tabindex="4">
                    <option value="">--Select--</option>
                    <option value="Raw Hide">Raw Hide</option>
                    <option value="Wet Blue">Wet Blue</option>
                    <option value="Crust">Crust</option>
                    <option value="Finish">Finish</option>
                    <option value="Packing">Packing</option>
                    <option value="Chemical">Chemical</option>
                    <option value="WB Production">WB Production</option>
                    <option value="CR Production">CR Production</option>
                    <option value="FN Production">FN Production</option>
                    <option value="Crust QC">Crust QC</option>
                    <option value="Own QC">Own QC</option>
                    <option value="Buyer QC">Buyer QC</option>
                    <option value="Loan">Loan</option>
                    <option value="Job Order">Job Order</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="FormBody">
        <div id="PageDetailGrid" class="MainGrid" tabindex="5"></div>
    </div>
</div>

<div id="DeleteConfirmWindow" style="display: none;">
    <p><h5>Are you sure to delete?</h5></p>
    <input type="button" style="height: 25px; width: 60px; margin-left: 10px; float: left;" id="btnConfirmationOK" value="OK" />
    <input type="button" style="height: 25px; width: 60px; margin-left: 30px; float: left;" id="btnConfirmationCancel" value="Cancel" />
</div>

<div id="SaveChangeWindow" style="display: none;">
    <p><h5>Data will be lost if you continue.</h5></p>
    <input type="button" class="ThreeButtonWindow" id="btnSaveChangeWindowOk" value="OK" />
    <input type="button" class="ThreeButtonWindow" id="btnSaveChangeWindowCancel" value="Cancel" />
</div>

<script type="text/javascript">
    // To Declare Global Variable
    var changeStatus = 0;
    var resetEditDeleteStatus = 0;
    var dataitem = {};
    //// Start  $(document).ready(function ()
    $(document).ready(function () {
        //To Define Data Store for Kendo Grid
        var dataSource = new kendo.data.DataSource({
            batch: true,
            schema: {
                model: {
                    id: "StoreID",
                    fields: {
                        StoreID: { editable: false },
                        StoreCode: { editable: false },
                        StoreName: { editable: false },
                        StoreCategory: { editable: false },
                        StoreType: { editable: false },
                        IsActive: { editable: false }
                    }
                }
            },
            pageSize: 10,
            transport: {
                read: {
                    url: "@Url.Action("GetStoreList", "Store")", // at first data show
                    type: "GET"
                }
            }
        });

        //To Define Columns for Store Kendo Grid
        var grid = $('#PageDetailGrid').kendoGrid({
            dataSource: dataSource,
            width: 430,
            pageable: true,
            editable: true,
            selectable: "row",
            navigatable: true,
            filterable: true,
            sortable: true,
            columns: [
                { field: "StoreID", hidden: true },
                { field: "StoreCode", title: "Store Code", width: 100, filterable: false, headerAttributes: { "class": "gridHeader", style: "font-weight: bold;font-size: 13px;" } },
                { field: "StoreName", title: "Store Name", width: 200, headerAttributes: { "class": "gridHeader", style: "font-weight: bold;font-size: 13px;" } },
                { field: "StoreCategory", title: "Store Category", width: 200, headerAttributes: { "class": "gridHeader", style: "font-weight: bold;font-size: 13px;" } },
                { field: "StoreType", title: "Store Type", width: 180, headerAttributes: { "class": "gridHeader", style: "font-weight: bold;font-size: 13px;" } },
                { field: "IsActive", title: "Status", width: 110, headerAttributes: { "class": "gridHeader", style: "font-weight: bold;font-size: 13px;" } },
                { command: [{ name: "Edit", text: "Edit", imageClass: "k-icon k-edit", click: handleEdit }], title: "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Edit", width: "80px", headerAttributes: { "class": "gridHeader", style: "font-weight: bold;font-size: 13px;" } },
                { command: [{ name: "DeletedRow", text: "Delete", imageClass: "k-icon k-i-close", click: handleDelete }], title: "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Delete", width: "80px", headerAttributes: { "class": "gridHeader", style: "font-weight: bold;font-size: 13px;" } }
            ]
        }).data('kendoGrid');

        //Handling Delete event for PageDeailsGrid row
        function handleDelete(event) {
            dataitem = grid.dataItem($(event.currentTarget).closest("tr"));
            if (changeStatus == 0) {
                OpenConfirmationDialog();
            }
            else {
                resetEditDeleteStatus = 3; //Delete Button
                OpenSaveChangesDialog();
            }
        };

        //Handling Yes button click for grid row deletion
        $('#btnConfirmationOK').click(function () {
            $.ajax({
                url: '@Url.Action("Delete", "Store")',
                type: 'POST',
                data: JSON.stringify({ "storeId": dataitem.StoreID }),
                contentType: 'application/json;',
                dataType: 'json',
                success: function (respnse) {
                    if (respnse.msg.Type == 2) {
                        ClearOperationalMessage();
                        ResetOnlyMasterPageData();
                        $('#MessageText').html(respnse.msg.Msg);
                        $("#MessageText").css({ 'color': 'green', 'font-size': 'larger', 'font-weight': 'bold', 'text-align': 'left' });
                        $("#PageDetailGrid").data("kendoGrid").dataSource.remove(dataitem);
                        $(".RequiredTextBox").css("border-color", "");
                        $("#IsActive").val("Active");
                        $(".SetFocus").focus();
                    }
                    else {
                        $('#MessageText').html(response.msg.Msg);
                        $("#MessageText").css({ 'color': 'red', 'font-size': 'larger', 'font-weight': 'bold', 'text-align': 'left' });
                    }
                }
            });
            $(".RequiredTextBox").css("border-color", "");
            CloseConfirmationDialog();
        });

        //Handling No button click for grid row deletion
        $('#btnConfirmationCancel').click(function () {
            dataitem = {};
            CloseConfirmationDialog();
        });

        //To clear operational/error message
        ClearOperationalMessage();

        //For removing operational & required message after triggering other event
        ClearRequiredTextBoxRedColor();

        // To check unsaved data in master or details
        CheckUnSavedMasterData();

        // Focus StoreName textbox
        $(".SetFocus").focus();
        //// Declare Numeric Class in SlNo Textbox
        //$(".numaric").numeric();

        // Edit Button in Grid
        function handleEdit(event) {
            // For Grid Edit Button
            resetEditDeleteStatus = 2;
            // When Changes Data
            if (changeStatus == 1) {
                dataitem = grid.dataItem($(event.currentTarget).closest("tr"));
                OpenSaveChangesDialog();
            }
                // When No Changes Data
            else {
                //ClearRequiredTextBoxRedColor();
                $(".RequiredTextBox").css("border-color", "");
                dataitem = grid.dataItem($(event.currentTarget).closest("tr"));
                SetMasterData(dataitem);
                //$(".RequiredTextBox").css("border-color", "");
                //changeStatus = 0;
            }
        };

        // Click Save Chages Popup No Button
        $("#btnSaveChangeWindowOk").click(function () {
            if (resetEditDeleteStatus == 1) { // Reset
                ResetOnlyMasterPageData();
                //ClearDetailGridFilterAndPaging('PageDetailGrid');
                $(".RequiredTextBox").css("border-color", "");
                GridReload('PageDetailGrid');
                $("#IsActive").val("Active");
                changeStatus = 0;
                CloseSaveChangesDialog();
            }
            else if (resetEditDeleteStatus == 2) { // Edit
                //$(".RequiredTextBox").css("border-color", "");
                $(".RequiredTextBox").css("border-color", "");
                SetMasterData(dataitem);
                changeStatus = 0;
                CloseSaveChangesDialog();
            }
            else if (resetEditDeleteStatus == 3) { // Delete
                $.ajax({
                    url: '@Url.Action("Delete", "Store")',
                    type: 'POST',
                    data: JSON.stringify({ "storeId": dataitem.StoreID }),
                    contentType: 'application/json;',
                    dataType: 'json',
                    success: function (respnse) {
                        if (respnse.msg.Type == 2) {
                            $('#MessageText').html(respnse.msg.Msg);
                            $("#MessageText").css({ 'color': 'green', 'font-size': 'larger', 'font-weight': 'bold', 'text-align': 'left' });
                            $("#PageDetailGrid").data("kendoGrid").dataSource.remove(dataitem);
                            ClearOperationalMessage();
                            ResetOnlyMasterPageData();
                            $(".RequiredTextBox").css("border-color", "");
                            $("#IsActive").val("Active");
                            $(".SetFocus").focus();
                        }
                        else {
                            $("#MessageText").html(respnse.msg.Msg);
                            $("#MessageText").css({ 'color': 'red', 'font-size': 'larger', 'font-weight': 'bold', 'text-align': 'left' });
                        }
                    }
                });
                $(".RequiredTextBox").css("border-color", "");
                changeStatus = 0;
                CloseSaveChangesDialog();
            }
            else
                CloseSaveChangesDialog();
        });

        // Click Save Chages Popup Cancel Button
        $("#btnSaveChangeWindowCancel").click(function () {
            CloseSaveChangesDialog();
        });

        // **       Page Unloaded **//
        window.onbeforeunload = function (e) {
            if (changeStatus == 1) {
                e.preventDefault();
            }
        };
        //  **       Page Unloaded **//
    });
    // ** End Start Document .Ready

    // Declare Object
    var modelSysSource = { "StoreID": "", "StoreCode": "", "StoreName": "", "StoreCategory": "", "IsActive": "", "StoreType": "" };
    var saveStatus = 1;
    // Save Or Update Data
    function Save() {

        saveStatus = 1;
        // Check Empty or Maximum Length in StoreName
        CheckRequiredTextBoxMaxLength('StoreCode', 12);

        // Check Empty or Maximum Length in StoreName
        CheckRequiredTextBoxMaxLength('StoreName', 100);

        // Check Maximum Length in StoreCategory
        CheckNormalTextBoxMaxLength('StoreCategory', 200);

        // Check Maximum Length in StoreType
        CheckNormalTextBoxMaxLength('StoreType', 20);

        // Check Save Proper Data
        if (saveStatus == 1) {
            modelSysSource.StoreID = $("#StoreID").val();
            modelSysSource.StoreCode = $("#StoreCode").val();
            modelSysSource.StoreName = $("#StoreName").val();
            modelSysSource.StoreCategory = $("#StoreCategory option:selected").val();
            modelSysSource.StoreType = $("#StoreType option:selected").val();
            modelSysSource.IsActive = $("#IsActive option:selected").val();
            if (changeStatus == 1) {
                $.ajax({
                    url: '@Url.Action("Store", "Store")',
                    data: JSON.stringify(modelSysSource),
                    type: 'POST',
                    contentType: 'application/json;',
                    dataType: 'json',
                    success: function (response) {
                        if (response.msg.Type == 2) {
                            changeStatus = 0;
                            $('#StoreID').val(response.StoreID);
                            GridReload('PageDetailGrid');
                            $('#MessageText').html(response.msg.Msg);
                            $("#MessageText").css({ 'color': 'green', 'font-size': 'larger', 'font-weight': 'bold', 'text-align': 'left' });
                        }
                        else if (response.msg.Type == 3) {
                            changeStatus = 0;
                            GridReload('PageDetailGrid');
                            $('#MessageText').html(response.msg.Msg);
                            $("#MessageText").css({ 'color': 'green', 'font-size': 'larger', 'font-weight': 'bold', 'text-align': 'left' });
                        }
                        else {
                            changeStatus = 0;
                            $('#MessageText').html(response.msg.Msg);
                            $("#MessageText").css({ 'color': 'red', 'font-size': 'larger', 'font-weight': 'bold', 'text-align': 'left' });
                        }
                    }
                });
            }
                // No Changes Exiting Data
            else {
                $("#MessageText").html("No Changes to Save.");
                $("#MessageText").css({ 'color': 'red', 'font-size': 'larger', 'font-weight': 'bold', 'text-align': 'left' });
                $("#StoreName").focus();
            }
        }
    };
    $("#btnReset").click(function () {
        resetEditDeleteStatus = 1; //Reset Button
        // When Chages Data
        if (changeStatus == 1)
            OpenSaveChangesDialog();
            // When no Chages Data
        else {
            ClearOperationalMessage();
            ResetOnlyMasterPageData();
            $(".RequiredTextBox").css("border-color", "");
            GridReload('PageDetailGrid');
            $("#IsActive").val("Active");
        }
    });

</script>