@{
    ViewBag.Title = "StockAdjustApprove";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="FormHeader">
        <fieldset id="FormHeaderFieldSet">

            <div id="FormTitlePannel" class="col-lg-4">
                <div id="FormTitle" style="font-size:larger; font-weight:bold;">@ViewBag.formTiltle</div>
            </div>
            <div id="MessageText" class="col-lg-6">
            </div>

            <div id="ButtonPanel" class="col-lg-2 right">
                <input type="button" id="btnReset" class="Button" value="Reset" style="position:absolute; right:20px;" />
                <input type="button" id="btnDelete" class="Button" value="Delete" style="position:absolute; right:75px;" disabled />
                <input type="button" id="btnSearch" class="Button" value="Search" style="position:absolute; right:135px;" disabled />
                <input type="button" id="btnSubmit" class="Button" value="Save" onclick="Save()" style="position:absolute; right:200px;" />
            </div>

        </fieldset>
    </div>


</div>

<div class="row">
    
    <div class="FormBody">
        <div class="row">
            <div class="col-lg-2">
                <label>Request No<span style='color:red'>*</span></label>
            </div>
            <div class="col-lg-4">
                <input type="text" id="RequestID" class="txtBox RequiredTextBox" style="width:160px;" name="" tabindex="" readonly="readonly" placeholder="Press F9" />
            </div>
            <div class="col-lg-2">
                <label>Adjustment Of</label>
            </div>
            <div class="col-lg-4">
                <input type="text" id="LeatherTypeName" class="txtBox " name="" tabindex="" readonly="readonly" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
                <label>Request Date</label>
            </div>
            <div class="col-lg-4">
                <input type="text" id="RequestDate" class="txtBox datePicker" name="" tabindex="" style="width:160px;" readonly="readonly" />
            </div>
            <div class="col-lg-2">
                <label>Adjustment At</label>
            </div>
            <div class="col-lg-4">
                <input type="text" id="StoreName" class="txtBox " name="" tabindex="" readonly="readonly" />
                <input type="hidden" id="StoreID" class="txtBox" />
            </div>
        </div>

    </div>

    

    <div class="FormBody">
        <div id="AdjustmentApproveGrid"></div>
    </div>

    <div class="FormBody">
        <div class="row">
            <div class="col-lg-2">
                <label>Approval Comment</label>
            </div>
            <div class="col-lg-4">
                <textarea id="ApprovalComment" class="txtBox" name="" tabindex=""></textarea>
                <input type="button" id="btnApprove" value="Approve" />
            </div>
        </div>
    </div>

</div>

<div id="RequestWindow" style="display: none;">
    <div id="RequestWindowGrid" class="PopUpGrid">
    </div>
    <input type="button" id="btnRequestWindowCancel" class="PopUpButton" value="Cancel" />
    <input type="button" id="btnRequestWindowOK" class="PopUpButton" value="OK" />
</div>

<div id="SaveChangeWindow" style="display: none;">
    <p><h5>Data will be lost if you continue.</h5></p>
    <input type="button" class="ThreeButtonWindow" id="btnSaveChangeWindowOk" value="OK" />
    <input type="button" class="ThreeButtonWindow" id="btnSaveChangeWindowCancel" value="Cancel" />
</div>


<script type="text/javascript">
    var changeStatus = 0; // any change textbox/Dropdown/Grid
    var resetEditStatus = 0;
    var PageStatus = "";

    $(document).ready(function () {
        //--------------------------------------Start of defining Datasource & Datagrid----------------------------------------------------------------

        var AdjustmentApproveGridDataSource = new kendo.data.DataSource({
            schema: {
                model: {
                    id: "AdjustID",
                    fields: {
                        AdjustID: { editable: false },
                        SupplierID: { editable: false },
                        SupplierName: { editable: false },
                        PurchaseID: { editable: false },
                        PurchaseNo: { editable: false },
                        AdjustmentCause: { editable: false },
                        ItemTypeID: { editable: false },
                        ItemTypeName: { editable: false },
                        Unit: { editable: false },
                        UnitName: { editable: false },
                        StockQty: { editable: false },
                        ItemQty: { editable: false },
                        ItemValue: { editable: true },
                        Remarks: { editable: false }
                    }
                }
            },
            pageSize: 50
        });

        var AdjustmentApproveGrid = $("#AdjustmentApproveGrid").kendoGrid({
            dataSource: AdjustmentApproveGridDataSource,
            pageable: true,
            editable: true,
            selectable: "row",
            navigatable: true,
            filterable: true,
            sortable: true,
            height: 250,
            columns: [
                  { field: "SupplierName", title: "Supplier", width: "70px" },
                  { field: "PurchaseNo", title: "Purchase No", width: "60px" },
                  { field: "ItemTypeName", title: "Item Type", width: "60px" },
                  { field: "StockQty", title: "Stock Qty", width: "70px" },
                  { field: "UnitName", title: "Unit", width: "60px" },
                  { field: "ItemQty", title: "Request Qty", width: "70px" },
                  { field: "AdjustmentCause", title: "Adjustment Cause", width: "100px" },
                  { field: "ItemValue", title: "Avg Value<span style='color:red'>*</span>", width: "60px" },
                  { field: "Remarks", title: "Remarks", width: "70px" },
            ]
        });


        var RequestWindowGridDataSource = new kendo.data.DataSource({
            schema: {
                model: {
                    id: "RequestID",
                    fields: {
                        RequestID: { editable: false },
                        RequestDate: { editable: false },
                        LeatherType: { editable: false },
                        LeatherTypeName: { editable: false },
                        StoreID: { editable: false },
                        StoreName: { editable: false },
                        PurchaseYear: { editable: false },
                        RecordStatus: { editable: false }
                    }
                }
            },
            transport: {
                read: {
                    url: '@Url.Action("GetAllCNFRequestList", "StockAdjust")',
                    type: "GET",
                    dataType: "JSON"
                }
            },
            pageSize: 50
        });

        var RequestWindowGrid = $("#RequestWindowGrid").kendoGrid({
            dataSource: RequestWindowGridDataSource,
            pageable: true,
            editable: true,
            selectable: "row",
            navigatable: true,
            filterable: true,
            sortable: true,
            columns: [
                  { field: "RequestID", title: "Request ID", width: "60px" },
                  { field: "RequestDate", title: "Request Date", width: "70px", format: "{0:dd/MM/yyyy}" },
                  { field: "LeatherTypeName", title: "Leather Type", width: "60px" },
                  { field: "StoreName", title: "Store Name", width: "60px" },
                  { field: "PurchaseYear", title: "Purchase Year", width: "70px" },
                  { field: "RecordStatus", title: "Record Status", width: "70px" }
            ]
        });

        //--------------------------------------End of defining Datasource & Datagrid----------------------------------------------------------------


        //---------------------------------------------Start of defining popup Window-----------------------------------------------
        var RequestWindow = $('#RequestWindow').kendoWindow({
            actions: ["Minimize", "Maximize", "Close"],
            visible: false,
            width: "auto",
            height: "auto",
            title: "List Of Request",
            position: { top: 50, left: 5 },
            modal: true,
            draggable: true
        }).data('kendoWindow');

        //---------------------------------------------End of defining popup Window-----------------------------------------------


        //-------------------------------------------------Common Function--------------------------------------------------------

        //To select the first row as default & to clear the filter while loading the grid
        function SelectedItemOfListOfValue(GridName) {
            var grid = $('#' + GridName).data("kendoGrid");
            //Reload Grid
            grid.dataSource.read();
            //Clear Filter
            $('#' + GridName).data("kendoGrid").dataSource.filter([]);
            //Select First Row
            $('#' + GridName).data().kendoGrid.bind('dataBound', function (e) {
                this.element.find('tbody tr:first').addClass('k-state-selected');
            });
        }

        ClearOperationalMessage();
        ClearRequiredTextBoxRedColor();
        CheckUnSavedOnlyMasterData();

        //To Bring Data from List of Value Grid to Main Page
        function ListOfValueGridEvent(GridName) {
            var grid = $('#' + GridName).data("kendoGrid");
            var selectedItem = (grid.dataItem(grid.select())); //Selected Row
            changeStatus = 1;
            $.each(selectedItem, function (key, value) {
                if (value != null && value != 0)
                    $('#' + key).val(value);
            });
        }

        // create DatePicker from input HTML element
        $(".datePicker").kendoDatePicker({
            format: "dd/MM/yyyy",
            value: new Date()
        });

        // Display Date into kendo Grid Row
        function dateTimeEditor(container, options) {
            $('<input data-text-field="' + options.field + '" data-value-field="' + options.field + '" data-bind="value:' + options.field + '" data-format="' + options.format + '"/>')
                    .appendTo(container)
                    .kendoDatePicker({
                        value: new Date()
                    });
        }
        //-------------------------------------------------Common Function--------------------------------------------------------



        //----------------------------------------To open all the pop up windows--------------------------------------------------------------------

        $(document.body).keypress(function (e) {
            if ($("#RequestID").is(":focus")) {
                if (e.keyCode == 120) {
                   
                    SelectedItemOfListOfValue('RequestWindowGrid');
                    RequestWindow.open();
                }
            }
        });

        //----------------------------------------End of opening all the pop up windows--------------------------------------------------------------------

        //-----------------------------------------------Handling all the pop up window events------------------------------------------

        function RequestWindowEvent() {
            var WindowGrid = $("#RequestWindowGrid").data("kendoGrid");
            var WindowGridRow = WindowGrid.select();
            var WindowGridItem = WindowGrid.dataItem(WindowGridRow);
            
            $.ajax({
                url: '@Url.Action("GetRequestDetails", "StockAdjust")', 
                type: 'GET',
                data: { "RequestID": WindowGridItem.RequestID },
                success: function (response) {
                    $("#AdjustmentApproveGrid").data("kendoGrid").dataSource.data(response);
                }
            });

            $("#RequestID").val(WindowGridItem.RequestID);
            $("#LeatherTypeName").val(WindowGridItem.LeatherTypeName);
            $("#StoreName").val(WindowGridItem.StoreName);
            $("#StoreID").val(WindowGridItem.StoreID);
            $("#RequestDate").val(WindowGridItem.RequestDate);
            PageStatus = WindowGridItem.RecordStatus;
            CheckRecordStatusForButton(PageStatus);
            
        };
        $('#btnRequestWindowOK').click(function () {
           
            RequestWindowEvent();
            RequestWindow.close();
        });
        $('#btnRequestWindowCancel').click(function () {
            RequestWindow.close();
        });
        $("#RequestWindow").dblclick(function () {
            RequestWindowEvent();
            RequestWindow.close();
        });
        $("#RequestWindow").keypress(function (event) {
            var keycode = (event.keyCode ? event.keyCode : event.which);
            if (keycode == '13') {
                RequestWindowEvent();
                RequestWindow.close();
            }
                // Close Window with escape key
            else if (keycode == '27') {
                RequestWindow.close();
            }
            event.stopPropagation();
        });

        //-----------------------------------------------End of Handling all the pop up window events------------------------------------------






        //------------------------------------Start of Button Event----------------------------------------
        $("#AdjustmentApproveGrid").on('input', function () {
            changeStatus = 1;
        });


        $("#btnReset").click(function () {
            resetEditStatus = 1; // 1 for reset
            if (changeStatus == 0) {
                PageStatus = "NCF";
                CheckRecordStatusForButton(PageStatus);
                ClearOperationalMessage();
                ResetOnlyMasterPageData();
                $(".RequiredTextBox").css("border-color", "white");
                $("#AdjustmentApproveGrid").data('kendoGrid').dataSource.data([]);
            }
            else {
                OpenSaveChangesDialog();
            }
        });

        $("#btnSaveChangeWindowOk").click(function () {
            if (resetEditStatus == 1) // From Reset
            {
                PageStatus = "NCF";
                CheckRecordStatusForButton(PageStatus);
                ResetOnlyMasterPageData();
                $("#AdjustmentApproveGrid").data('kendoGrid').dataSource.data([]);
                CloseSaveChangesDialog();
                changeStatus = 0;
            }
        });

        $("#btnSaveChangeWindowCancel").click(function () {
            CloseSaveChangesDialog();
        });

        $("#btnApprove").click(function () {

            $.ajax({
                url: '@Url.Action("ApproveAdjustRequest", "StockAdjust")',
                type: 'GET',
                data: { "requestID": $("#RequestID").val(), "approvalComment": $("#ApprovalComment").val() },
                success: function (response) {

                    if (response.Msg == "Success") {
                        //ResetOnlyMasterPageData();

                        $('#MessageText').html("Approved Successfully");
                        $("#MessageText").css({ 'color': 'green', 'font-size': 'larger', 'font-weight': 'bold', 'text-align': 'center' });
                       
                        //$("#AdjustmentApproveGrid").data('kendoGrid').dataSource.data([]);
                        saveStatus = 0;
                        PageStatus = "APV";
                        CheckRecordStatusForButton(PageStatus);
                    }
                    else if (response.Msg == "Fail") {
                        $('#MessageText').html("Approval Failed");
                        $("#MessageText").css({ 'color': 'red', 'font-size': 'larger', 'font-weight': 'bold', 'text-align': 'center' });
                    }

                } //End of success call
            });
           

        })
        //------------------------------------End of Button Event----------------------------------------

    });//End of Document.Ready()


    //-----------------------------------To Save Data------------------------------------------------------------------------------------

    var StockAdjustItemList = {
        "AdjustID": "", "SupplierID": "", "ChallanID": "", "ItemTypeID": "", "StockQty": "", "Unit": "",
        "ItemQty": "", "AdjustmentCause": "", "Remarks": "", "ItemValue": ""
    };

    var FinalObject = {
        "RequestID": "", "StockAdjustItemList": []
    };

    var saveStatus = 1;
    function Save() {
        saveStatus = 1;

        CheckRequiredTextBoxMaxLength('RequestID', 20);

        if (saveStatus == 1) {
            FinalObject.RequestID = $("#RequestID").val();
            

            var ApproveGridDataSource = $("#AdjustmentApproveGrid").data("kendoGrid").dataSource;
            var ApproveGridData = ApproveGridDataSource.data();

            for (var i = 0; i < ApproveGridData.length; i++) {
                if (ApproveGridData[i].dirty) {
                    StockAdjustItemList.AdjustID = ApproveGridData[i].AdjustID;
                    StockAdjustItemList.SupplierID = ApproveGridData[i].SupplierID;
                    StockAdjustItemList.ChallanID = ApproveGridData[i].ChallanID;
                    StockAdjustItemList.ItemTypeID = ApproveGridData[i].ItemTypeID;
                    StockAdjustItemList.StockQty = ApproveGridData[i].StockQty;
                    StockAdjustItemList.Unit = ApproveGridData[i].Unit;
                    StockAdjustItemList.ItemQty = ApproveGridData[i].ItemQty;
                    StockAdjustItemList.AdjustmentCause = ApproveGridData[i].AdjustmentCause;
                    StockAdjustItemList.Remarks = ApproveGridData[i].Remarks;
                    StockAdjustItemList.ItemValue = ApproveGridData[i].ItemValue;

                    FinalObject.StockAdjustItemList.push(StockAdjustItemList);
                    StockAdjustItemList = {
                        "SupplierID": "", "ChallanID": "", "ItemTypeID": "", "StockQty": "", "Unit": "",
                        "ItemQty": "", "AdjustmentCause": "", "Remarks": "", "ItemValue": ""
                    };
                }
            }
            if (changeStatus == 1)
            {
                $.ajax({
                    url: '@Url.Action("UpdateAdjustmentRequestWithItemValue", "StockAdjust")',
                    data: JSON.stringify(FinalObject),
                    type: 'POST',
                    contentType: 'application/json;',
                    dataType: 'json',
                    success: function (response) {

                        if (response.Msg.Type == 2) {
                            $('#MessageText').html(response.Msg.Msg);
                            $("#MessageText").css({ 'color': 'green', 'font-size': 'larger', 'font-weight': 'bold', 'text-align': 'center' });
                            changeStatus = 0;
                            $("#AdjustmentApproveGrid").data('kendoGrid').dataSource.data(response.requestDetails);

                        }
                        else if (response.Msg.Type == 3) {
                            $('#MessageText').html(response.Msg.Msg);
                            $("#MessageText").css({ 'color': 'green', 'font-size': 'larger', 'font-weight': 'bold', 'text-align': 'center' });
                            changeStatus = 0;
                            $("#AdjustmentApproveGrid").data('kendoGrid').dataSource.data(response.requestDetails);
                        }
                        else {
                            $('#MessageText').html(response.Msg.Msg);
                            $("#MessageText").css({ 'color': 'red', 'font-size': 'larger', 'font-weight': 'bold', 'text-align': 'center' });
                        }


                    } //End of success call
                }); //End of ajax call
            }
            else
            {
                $('#MessageText').html("No Changes to Save");
                $("#MessageText").css({ 'color': 'green', 'font-size': 'larger', 'font-weight': 'bold', 'text-align': 'center' });
            }
            
        }

        FinalObject = {
            "PurchaseYear": "", "RequestDate": "", "LeatherType": "", "StoreID": "", "StockAdjustItemList": []
        };
    };

    //-----------------------------------End of Saving Data------------------------------------------------------------------------------------
</script>