@{
    ViewBag.Title = "SelectionReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .select {
        min-width: 240px;
    }

    label {
        padding-left: 10px;
    }
</style>
@using (Html.BeginForm("GradeSelectionReport", "Reports", FormMethod.Post, new { target = "_blank", name = "H1Form", id = "H1Form" }))
{
    <div class="row">
        <div class="FormHeader">
            @ViewBag.Message
            <fieldset id="FormHeaderFieldSet">
                <div id="FormTitlePannel" class="col-lg-6">
                    <div id="FormTitle" style="font-size:larger; font-weight:bold;">Supplier and Purchase Wise Selection Report</div>
                </div>
               
                <div class="col-lg-3">

                    <input type="radio" id="rptPDF" name="ReportType" value="PDF" style="width: 7%; float: right;" tabindex="3" checked="checked" />
                    <label style="font-size: small; float: right; font-weight: bold; color: #00688B;"> PDF</label>

                    <input type="radio" id="rptExcel" name="ReportType" value="EXCEL" style="width: 7%; float: right;" tabindex="4" />
                    <label style="font-size: small; float: right; font-weight: bold; color: #00688B;"> Excel</label>

                </div>
                <div id="ButtonPanel" class="col-lg-3 right">
                    <input type="button" id="btnReset" class="Button" value="Reset" style="position:absolute; right:20px;" onclick="ClearAll();" />
                    <input type="submit" id="btnSubmit" class="Button" value="Show Report" onclick="return CheckValue();" style="position: absolute; right: 100px;" />
                </div>
            </fieldset>

        </div>
    </div>
    <div class="row">
        <div class="FormBody">
            <br />
            <div class="row">
                <div class="col-lg-2">
                    <label>Store:</label>
                </div>
                <div class="col-lg-4">
                    @Html.DropDownList("ddStore")
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2">
                    <label>Supplier:</label>
                </div>
                <div class="col-lg-4">
                    <select id="ddSuppliers" class="select required" name="ddSuppliers" required></select>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2">
                    <label>Date Range:</label>
                </div>
                <div class="col-lg-3">
                    <table class="table-condensed">
                        <tr>
                            <td><strong> From Date:</strong> </td>
                            <td><input type="text" id="dateFrom" class="datePicker" name="dateFrom" tabindex="" /></td>
                        </tr>
                        <tr>
                            <td><strong>To Date:</strong></td>
                            <td><input type="text" id="dateTo" class="datePicker" name="dateTo" tabindex="" /></td>
                        </tr>
                    </table>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-2">
                    <label>Selection No:</label>
                </div>
                <div class="col-lg-4">
                    <select id="ddSelection" class="select required pull-left" name="ddSelection" required></select>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2">
                    <label>Grade Range:</label>
                </div>
                <div class="col-lg-4">
                    @Html.DropDownList("ddGradeRange", "-- Select One --")
                </div>
            </div>
            <br />

        </div>
    </div>
}


<script type="text/javascript">
    ClearAll();
    function ClearAll() {
        $("#ddSelection").html("");
        $("#ddSuppliers").html("");
        $("#ddGradeRange").val("").attr("selected", "selected");
        $("#ddStore").val("").attr("selected", "selected");
        $("#MessageText").html("");
    }

    var rptSelectionList = { "StoreId": "", "SupllierId": "", "DateFrom": "", "DateTo": "" };
    $("select").addClass("select");
    $(".datePicker").kendoDatePicker({
        format: "dd/MM/yyyy"
        //value: new Date()
    });

    function CheckValue() {
        if (($("#ddSuppliers").val() != "-- Select One --") && ($("#ddSelection").val() != "-- Select One --") &&  ($("#ddGradeRange").val() != "") ) {
            return true;
        }
        else {
            $("#MessageText").html("All selection fields need to be selected.");
            $("#MessageText").css("color", "red");
            return false;
        }
    }

    $(document).ready(function () {
        $('#ddSuppliers').change(function () {
            BindSelectionDDL();
        });

        function BindSelectionDDL() {
            var supllierId = $("#ddSuppliers").val();
            if (supllierId != "-- Select One --") {
                var storeid = $("#ddStore").val();
                if (isNaN(storeid)) {
                    storeid = 0;
                    $("#ddSelection").html("");
                    return;
                }
                rptSelectionList.StoreId = storeid;
                rptSelectionList.SupllierId = supllierId;
                rptSelectionList.DateFrom = $("#dateFrom").val();
                rptSelectionList.DateTo = $("#dateTo").val();

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("DDLGetSelectionID", "GradeSelection")',
                    data: JSON.stringify(rptSelectionList),
                    contentType: "application/json; charset=utf-8",
                    dataType: "html",
                    success: function (data) {
                        $("#ddSelection").html(data);
                        rptSelectionList = { "StoreId": "", "SupllierId": "", "DateFrom": "", "DateTo": "" };
                        return true;
                    },
                    error: function (msg) {
                        alert("Failed: " + msg.status + ": " + msg.statusText);
                    },
                    failure: function (response) {
                        alert(response.d);
                    }
                });
            }

            else {

                $("#ddSelection").html("");
            }
        }

        $('#dateFrom').change(function () {
            var start = $('#dateFrom').val();
            var end = $('#dateTo').val();
            if (end != "")
            {
                if ($.datepicker.parseDate('dd/mm/yy', start) > $.datepicker.parseDate('dd/mm/yy', end)) {
                    $("#MessageText").html("From Date should be less than To Date.");
                    $("#MessageText").css("color", "red");
                    $('#dateFrom').val(end);
                }
                else {
                    $("#MessageText").html("");
                }
            }
            BindSelectionDDL();
        });

        $('#dateTo').change(function () {
            BindSelectionDDL();
        });

        $('#ddStore').change(function () {
            var id = $(this).val();

            if (id != "") {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("DD_GetSupplierByStockID", "GradeSelection")',
                    data: '{id: ' + id + '}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "html",
                    success: function (data) {
                        $("#ddSuppliers").html(data);
                        return true;
                    },
                    error: function (msg) {
                        alert("Failed: " + msg.status + ": " + msg.statusText);
                    },
                    failure: function (response) {
                        alert(response.d);
                    }
                });
            }

            else {
                $("#ddSubclass").html("");

            }
        });

    });
</script>