<table class="table table-bordered">
    <tr>
        <td><label>PI No#</label></td>
        <td>
            @ViewBag.PINo
        </td>
        <td><label>PI Date</label></td>
        <td>@ViewBag.PIDate</td>
    </tr>
    <tr>
        <td><label>PI Category</label></td>
        <td>@ViewBag.PICategory</td>
        <td><label>Supplier</label></td>
        <td>@ViewBag.SupplierID </td>
    </tr>
    <tr>
        <td><label>Local Agent</label></td>
        <td>@ViewBag.LocalAgent</td>
        <td><label>Foreign Agent</label></td>
        <td>@ViewBag.ForeignAgent</td>
    </tr>
    <tr>
        <td><label>PI Currency</label></td>
        <td>@ViewBag.PICurrency</td>
        <td><label>Exchange Currency</label></td>
        <td>@ViewBag.ExchangeCurrency</td>
    </tr>
    <tr>
        <td><label>Exchange Rate</label></td>
        <td>@ViewBag.ExchangeRate</td>
        <td><label>Exchange Value</label></td>
        <td>@ViewBag.ExchangeValue</td>
    </tr>
    <tr>
        <td><label>PaymentTerm</label></td>
        <td>@ViewBag.PaymentTerm</td>
        <td><label>Payment Mode</label></td>
        <td>@ViewBag.PaymentMode</td>
    </tr>
    <tr>
        <td><label>Deferred Days</label></td>
        <td>@ViewBag.DeferredDays</td>
        <td><label>Country Of Origin</label></td>
        <td>@ViewBag.CountryOforigin</td>
    </tr>
    <tr>
        <td><label>Checked By</label></td>
        <td>@ViewBag.CheckedBy</td>
        <td><label>Check Date</label></td>
        <td>@ViewBag.CheckDate</td>
    </tr>
    <tr>
        <td><label>Approved By</label></td>
        <td>@ViewBag.ApprovedBy</td>
        <td><label>Approve Date</label></td>
        <td>@ViewBag.ApproveDate</td>
    </tr>
</table>
