@{
    ViewBag.Title = "Freight Bill Document";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="FormHeader">
        <fieldset id="FormHeaderFieldSet">
            <div id="FormTitlePannel" class="col-lg-4">
                <div id="FormTitle" style="font-size:larger; font-weight:bold;">Freight Bill Document</div>
            </div>
            <div id="MessageText" class="col-lg-5">
            </div>
            <div id="" class="col-lg-3">
                <input type="button" id="btnReset" onclick="" value="Reset" class="" style="position: absolute; right: 30px; width: 62px; font-size: 12px;" />
                <input type="button" id="btnDelete" onclick="" value="Delete" class="" style="position: absolute; right:93px; width: 62px; font-size: 12px;" />
                <input type="button" id="btnSearch" onclick="" value="Search" class="" style="position: absolute; right: 156px; width: 62px; font-size: 12px;" />
                <input type="button" id="btnSave" onclick="" value="Save" class="" style="position: absolute; right: 219px; width: 62px; font-size: 12px;" />
            </div>
        </fieldset>
    </div>
</div>

<div class="row">
    <div class="FormBody">

        <div class="row">
            <div class="col-lg-2">
                <label>Freight Bill ref No</label>
            </div>
            <div class="col-lg-2">
                <input type="text" id="txtFBDId" class="txtField" style="display: none;" />
                <input type="text" id="txtFBDRefNo" class="txtField " tabindex="10" style="width: 166px;" />
            </div>

            <div class="col-lg-2">
                <label>CI Ref No</label>
            </div>
            <div class="col-lg-2">
                <input type="text" id="txtFBDLcId" class="txtField" style="display: none;" />
                <input type="text" id="txtFBDCiId" class="txtField" style="display: none;" />
                <input type="text" id="txtFBDCiNo" class="txtField" style="width: 166px;" tabindex="3" placeholder="Press (F9)" readonly="readonly" />
            </div>

            <div class="col-lg-2">
                <label>Shipment To</label>
            </div>
            <div class="col-lg-2">
                <input type="text" id="txtFBDShipmentTo" class="txtField" tabindex="9" style="width: 166px;" readonly="readonly" />
            </div>

        </div>

        <div class="row">
            <div class="col-lg-2">
                <label>Freight Bill No.</label>
            </div>
            <div class="col-lg-2">
                <input type="text" id="txtFBDNo" class="txtField " tabindex="15" style="width: 166px;" placeholder="Bill No. (Auto)" readonly="readonly" />
            </div>

            <div class="col-lg-2">
                <label>CI Date</label>
            </div>
            <div class="col-lg-2">
                <input type="text" id="txtFBDCiDate" class="txtField" tabindex="4" readonly="readonly" style="width: 166px;" />
            </div>

            <div class="col-lg-2">
                <label>BL/AWB Ref No.</label>
            </div>
            <div class="col-lg-2">
                <input type="text" id="txtFBDBLID" class="txtField" style="display: none;" />
                <input type="text" id="txtFBDBLNo" class="txtField" style="width: 166px;" placeholder="Press (F9)" tabindex="5" readonly="readonly" />
            </div>

        </div>

        <div class="row">
            <div class="col-lg-2">
                <label>Freight Bill Date</label>
            </div>
            <div class="col-lg-2">
                <input type="text" id="txtFBDBillDate" class="datePicker txtField" tabindex="11" style="width: 166px;" />
            </div>

            <div class="col-lg-2">
                <label>Delivery Mode</label>
            </div>
            <div class="col-lg-2">
                <input type="text" id="txtFBDDlvryMode" class="txtField" tabindex="7" style="width: 166px;" readonly="readonly" />
            </div>

            <div class="col-lg-2">
                <label>BL/AWB Date</label>
            </div>
            <div class="col-lg-2">
                <input type="text" id="txtFBDBLDate" class="txtField" tabindex="6" readonly="readonly" style="width: 166px;" />
            </div>

        </div>

        <div class="row">
            <div class="col-lg-2">
                <label>Shipment Of</label>
            </div>
            <div class="col-lg-2">
                <input type="text" id="txtFBDShipmentOf" class="txtField" tabindex="12" style="width: 166px;" />
            </div>

            <div class="col-lg-2">
                <label>Shipment From</label>
            </div>
            <div class="col-lg-2">
                <input type="text" id="txtFBDShipmentFrom" class="txtField" tabindex="8" style="width: 166px;" readonly="readonly" />
            </div>

            <div class="col-lg-2">
                <label>Forwarder Name</label>
            </div>
            <div class="col-lg-2">
                <input type="text" id="txtFBDAgentId" hidden="hidden" class="txtField" />
                <input type="text" id="txtFBDAgentCode" class="txtField" tabindex="1" placeholder="Press (F9)" style="width: 140px;" hidden="hidden" readonly />
                <input type="text" id="txtFBDAgentName" class="txtField" tabindex="2" readonly="readonly" style="width: 166px;" />
            </div>


        </div>

    </div>





    <div class="FormBody">

        <div class="row">
            <div class="col-lg-2">
                <label>Freight Weigth</label>
            </div>
            <div class="col-lg-2">
                <input type="text" id="txtFBDFreightWeight" class="txtField" tabindex="16" style="width: 166px;" />
            </div>

            <div class="col-lg-2">
                <label>SCC/MCC Charge</label>
            </div>
            <div class="col-lg-2">
                <input type="text" id="txtFBDSmChrg" class="txtField clcField" tabindex="22" style="width: 166px;" />
            </div>

            <div class="col-lg-2">
                <label>Custom Charge</label>
            </div>
            <div class="col-lg-2">
                <input type="text" id="txtFBDCstmChrg" class="txtField clcField" tabindex="28" style="width: 166px;" />
            </div>

        </div>

        <div class="row">
            <div class="col-lg-2">
                <label>Freight Rate</label>
            </div>
            <div class="col-lg-2">
                <input type="text" id="txtFBDFrghtRate" class="txtField clcField" tabindex="17" style="width: 166px;" />
            </div>

            <div class="col-lg-2">
                <label>Local Caring</label>
            </div>
            <div class="col-lg-2">
                <input type="text" id="txtFBDLclChrg" class="txtField clcField" tabindex="23" style="width: 166px;" />
            </div>

            <div class="col-lg-2">
                <label>Load Unload Charge</label>
            </div>
            <div class="col-lg-2">
                <input type="text" id="txtFBDLdUnldChrg" class="txtField clcField" tabindex="29" style="width: 166px;" />
            </div>

        </div>

        <div class="row">
            <div class="col-lg-2">
                <label>Freight Charge</label>
            </div>
            <div class="col-lg-2">
                <input type="text" id="txtFBDFrghtChrg" class="txtField clcField" tabindex="18" style="width: 166px;" />
            </div>

            <div class="col-lg-2">
                <label>Currency</label>
            </div>
            <div class="col-lg-2">
                @Html.DropDownList("ddlFBDCurrency", new SelectList(ViewBag.CurrencyList, "CurrencyID", "CurrencyName"), "-- Select --", new { @class = "txtField dDown", @style = "width: 166px;", @tabindex = "24" })
            </div>

            <div class="col-lg-2">
                <label>Agency Commision</label>
            </div>
            <div class="col-lg-2">
                <input type="text" id="txtFBDAgncCmsn" class="txtField clcField" tabindex="30" style="width: 166px;" />
            </div>

        </div>

        <div class="row">
            <div class="col-lg-2">
                <label>Terminal Charge</label>
            </div>
            <div class="col-lg-2">
                <input type="text" id="txtFBDTrmnlChrg" class="txtField clcField" tabindex="19" style="width: 166px;" />
            </div>

            <div class="col-lg-2">
                <label>Examine Charge</label>
            </div>
            <div class="col-lg-2">
                <input type="text" id="txtFBDExamineCharge" class="txtField clcField" tabindex="25" style="width: 166px;" />
            </div>

            <div class="col-lg-2">
                <label>Other Charge</label>
            </div>
            <div class="col-lg-2">
                <input type="text" id="txtFBDOthrChrg" class="txtField clcField" tabindex="31" style="width: 166px;" />
            </div>


        </div>

        <div class="row">
            <div class="col-lg-2">
                <label>FCS/MYC/MY Charge</label>
            </div>
            <div class="col-lg-2">
                <input type="text" id="txtFBDFmmChrg" class="txtField clcField" tabindex="20" style="width: 166px;" />
            </div>

            <div class="col-lg-2">
                <label>Special Delivery Charge</label>
            </div>
            <div class="col-lg-2">
                <input type="text" id="txtFBDSpDelChrg" class="txtField clcField" tabindex="26" style="width: 166px;" />
            </div>

            <div class="col-lg-2">
                <label>Vat</label>
            </div>
            <div class="col-lg-2">
                <input type="text" id="txtFBDVat" class="txtField clcField" tabindex="32" style="width: 166px;" />
            </div>

        </div>

        <div class="row">
            <div class="col-lg-2">
                <label>Air Way Bill</label>
            </div>
            <div class="col-lg-2">
                <input type="text" id="txtFBDAirWayBill" class="txtField clcField" tabindex="21" style="width: 166px;" />
            </div>

            <div class="col-lg-2">
                <label>Amendment Charge</label>
            </div>
            <div class="col-lg-2">
                <input type="text" id="txtFBDAmndChrg" class="txtField clcField" tabindex="27" style="width: 166px;" />
            </div>

            <div class="col-lg-2">
                <label>Total Amount</label>
            </div>
            <div class="col-lg-2">
                <input type="text" id="txtFBDTotalAmnt" class="txtField" tabindex="33" style="width: 166px;" />
            </div>


        </div>

    </div>



</div>


<div class="row FormBody" style="padding: 2px 5px 2px 5px; ">
    <div class="row">
        <div class="col-lg-3">
            <div class="row">
                <div class="col-lg-6">
                    <label style="margin-left: 6px;">Exchange Currency</label>
                </div>
                <div class="col-lg-6">

                    @Html.DropDownList("ddlFBDChangeRateCurrency", new SelectList(ViewBag.CurrencyList, "CurrencyID", "CurrencyName"), "-- Select --", new { @class = "txtField dDown", @style = "width: 150px;", @tabindex = "34" })
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="row">
                <div class="col-lg-5">
                    <label style="float: right;">Exchange Rate</label>
                </div>
                <div class="col-lg-7">
                    <input type="text" id="txtFBDXchngRate" class="txtField" tabindex="35" style="width: 150px;" />
                    @* @Html.DropDownList("ddlFBDChangeRateCurrency", new SelectList(ViewBag.CurrencyList, "CurrencyID", "CurrencyName"), "-- Select --", new { @class = "txtField dDown", @style = "width: 100px;", @tabindex = "33" })*@
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="row">
                <div class="col-lg-5">
                    <label style="float: right;">Exchange Amt</label>
                </div>
                <div class="col-lg-7">
                    <input type="text" id="txtFBDXchngAmt" class="txtField" tabindex="36" style="width: 150px;" readonly />
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <label class="" style="margin-left: 20px;">Check Note</label>
        @*<textarea id="checkNote" class="col-lg-3 " style="margin-left: 20px;"></textarea>*@
        <input type="text" id="checkNote" class="" style="width: 350px;" tabindex="37" />
        <input type="button" id="btnCheck" value="Check" style="margin-left: 20px;" />
        <input type="button" id="btnConfirm" value="Confirm" style="margin-left: 5px;" />
    </div>
    <div class="row">

    </div>
    <div class="row">

    </div>
</div>

@* ######################################## Hidden Windows ######################################## *@

@* ********** Commercial Invoice Window ********** *@
<div id="CommercialInvoiceWindow" style="display: none;">
    @*<div class="row" style="width: 596px; height: 10%;">
            <label style="margin-left: 20px;">CI No.</label>
            <input type="text" id="txtCommercialInvoice" style="width: 250px;" /><input type="button" id="btnCommercialInvoiceGridSearch" value="Search" style="margin-left: 2px; margin-top: 1px;" />
        </div>*@
    <div class="row" style="width: 596px; height: 75%;">
        <div id="CommercialInvoiceWindowGrid" class="PopUpGrid" style="margin-left: 20px; ">
        </div>
    </div>
    <div class="row" style="width: 596px; height: 15%;">
        <input type="button" id="btnCommercialInvoiceWindowCancel" class="PopUpButton" value="Cancel" style="margin-right: 10px;" />
        <input type="button" id="btnCommercialInvoiceWindowOK" class="PopUpButton" value="OK" />
    </div>
</div>
@* ********** Commercial Invoice Window End ********** *@

@* ********** Bill Of Lading Window ********** *@

<div id="BillOfLadingWindow" style="display: none;">
    @*<div class="row" style="width: 596px; height: 10%;">
            <label style="margin-left: 20px;">BL No.</label>
            <input type="text" id="txtBillOfLading" style="width: 250px;" /><input type="button" id="btnBillOfLadingGridSearch" value="Search" style="margin-left: 2px; margin-top: 1px;" />
        </div>*@
    <div class="row" style="width: 596px; height: 320px; height: 75%;">
        <div id="BillOfLadingWindowGrid" class="PopUpGrid" style="margin-left: 20px;">
        </div>
    </div>
    <div class="row" style="width: 596px; height: 15%;">
        <input type="button" id="btnBillOfLadingWindowCancel" class="PopUpButton" value="Cancel" style="margin-right: 10px;" />
        <input type="button" id="btnBillOfLadingWindowOK" class="PopUpButton" value="OK" />
    </div>
</div>
@* ********** Bill Of Lading Window End ********** *@

@* ********** Freight Agent Window End ********** *@

<div id="FreightAgentWindow" style="display: none;height: 10%;">
    @*<div class="row" style="width: 596px;">
            <label style="margin-left: 20px;">Freight Agent Name</label>
            <input type="text" id="txtFreightAgent" style="width: 250px;" /><input type="button" id="btnFreightAgentGridSearch" value="Search" style="margin-left: 2px; margin-top: 1px;" />
        </div>*@
    <div class="row" style="width: 596px;height: 75%;">
        <div id="FreightAgentWindowGrid" class="PopUpGrid" style="margin-left: 20px;">
        </div>
    </div>
    <div class="row" style="width: 596px;height: 15%;">
        <input type="button" id="btnFreightAgentWindowCancel" class="PopUpButton" value="Cancel" style="margin-right: 10px;" />
        <input type="button" id="btnFreightAgentWindowOK" class="PopUpButton" value="OK" />
    </div>
</div>

@* ********** Freight Agent Window End ********** *@

@* ********** Freight Bill Documents Window ********** *@
<div id="FrghtBillDocWindow" style="display: none;">
    @*<div class="row" style="width: 99%; height: 10%;">
            <label style="margin-left: 20px;">Freight Bill No.</label>
            <input type="text" id="txtFrghtBillDoc" style="width: 250px;" /><input type="button" id="btnFrghtBillDocGridSearch" value="Search" style="margin-left: 2px; margin-top: 1px;" />
        </div>*@
    <div class="row" style="width: 99%; height: 75%;">
        <div id="FrghtBillDocWindowGrid" class="PopUpGrid" style="margin-left: 20px;">
        </div>
    </div>
    <div class="row" style="width: 99%; height: 15%;">
        <input type="button" id="btnFrghtBillDocWindowCancel" class="PopUpButton" value="Cancel" style="margin-right: 10px;" />
        <input type="button" id="btnFrghtBillDocWindowOK" class="PopUpButton" value="OK" />
    </div>
</div>
@* ********** Freight Bill Documents Window End ********** *@

@* ********** Delete Confirmation Window ********** *@
<div id="DeleteBillOfLadingConfirmWindow" style="display: none;">
    <input type="button" style="height: 25px; width: 60px; margin-left: 50px; float: left;" id="btnDeleteBillOfLadingOK" value="OK" />
    <input type="button" style="height: 25px; width: 60px; margin-left: 50px; float: left;" id="btnDeleteBillOfLadingCancel" value="Cancel" />
</div>
@* ********** Delete Confirmation Window End ********** *@

@* ********** Save Change Window ********** *@
<div id="SaveChangeWindow" style="display: none;">
    <div class="row" style="width:245px;">
        <h5 style="margin-left: 30px;">Data will be lost if you continue.</h5>
    </div>
    <div class="row" style="width:245px;">
        <input type="button" class="ThreeButtonWindow" id="btnSaveChangeWindowCancel" value="Cancel" style="float: right;" />
        <input type="button" class="ThreeButtonWindow" id="btnSaveChangeWindowOk" value="OK" style="float: right; margin-right: -30px;" />
    </div>
</div>
@* ********** Save Change Window End ********** *@

@* ********** Wait Modal Window ********** *@
<div id="divLoading" style="margin: 0px; padding: 0px; position: fixed; right: 0px;
    top: 0px; width: 100%; height: 100%; background-color: #666666; z-index: 30001;
    opacity: .8; filter: alpha(opacity=70);display:none">
    <p style="position: absolute; top: 50%; left: 42%; color: White;">
        Please wait... <img src="../../images/ajax-loading.gif">
    </p>
</div>
@* ********** Wait Modal Window End ********** *@

@* ######################################## Hidden Windows End ######################################## *@

<script type="text/javascript">

    // ######################################## Document Ready ######################################## //

    $(document).ready(function () {
        $(".datePicker").kendoDatePicker({
            format: "dd/MM/yyyy",
            max: new Date()
        });
    });

    // ######################################## Document Ready End ######################################## //

    // ######################################## Grid And Window Declaration ######################################## //

    // ************ Freight Bill Document Grid & Window Declaration End ************ //

    //Freight Bill Document Window
    var FrghtBillDocWindow = $('#FrghtBillDocWindow').kendoWindow({
        actions: ["Minimize", "Maximize", "Close"],
        visible: false,
        width: "90%",
        //height: "420px",
        title: "Freight Bill List",
        position: { top: 50, left: 5 },
        modal: true,
        draggable: true
    }).data('kendoWindow');

    //Freight Bill Document Grid Data Source
    var FrghtBillDocGridDataSource = new kendo.data.DataSource({
        schema: {
            model: {
                id: "FreightBillID",
                fields: {
                    FreightBillID: { editable: false },
                    FreightBillNo: { editable: false },
                    FreightBillRef: { editable: false },
                    CIID: { editable: false },
                    CINo: { editable: false },
                    CIRefNo: { editable: false },
                    BLID: { editable: false },
                    BLNo: { editable: false },
                    FreightAgentID: { editable: false },
                    FreightAgentCode: { editable: false },
                    FreightAgentName: { editable: false },
                    RecordStatus: { editable: false }
                }
            }
        },
        pageSize: 50
    });

    //Freight Bill Document Grid
    $("#FrghtBillDocWindowGrid").kendoGrid({
        dataSource: FrghtBillDocGridDataSource,
        pageable: true,
        selectable: "row",
        navigatable: true,
        filterable: {
            extra: false,
            operators: {
                string: {
                    startswith: "Starts with",
                    contains: "Contains"
                }
            }
        },
        sortable: true,
        height: 270,
        columns: [
            { field: "FreightBillRef", title: "Freight Bill Ref No." },
            { field: "FreightBillNo", title: "Freight Bill No." },
            { field: "FreightAgentName", title: "Agent Name" },
            { field: "CINo", hidden: true, title: "Commercial Invoice No." },
            { field: "CIRefNo", title: "Commercial Invoice No." },
            { field: "BLNo", title: "BL/AWB No" },

            { field: "RecordStatus", title: "Status" }
            //{ field: "BuyerName", title: "Name" }
        ]
    });

    //Activate Freight Bill Document Window
    $('#btnSearch').click(function (e) {
        GetFrghtBillDoc();
        FrghtBillDocWindow.open();
        FrghtBillDocWindow.center();
    });

    // ************ Freight Bill Document Grid & Window Declaration End ************ //

    // ************ Freight Agent Grid & Window Declaration End ************ //

    //Freight Agent Window
    var FreightAgentWindow = $('#FreightAgentWindow').kendoWindow({
        actions: ["Minimize", "Maximize", "Close"],
        visible: false,
        width: "600px",
        //height: "420px",
        title: "Forwarder List",
        position: { top: 50, left: 5 },
        modal: true,
        draggable: true
    }).data('kendoWindow');

    //Freight Agent Grid Data Source
    var FreightAgentGridDataSource = new kendo.data.DataSource({
        schema: {
            model: {
                id: "BuyerID",
                fields: {
                    BuyerID: { editable: false },
                    BuyerCode: { editable: false },
                    BuyerName: { editable: false }
                }
            }
        },
        pageSize: 50
    });

    //Freight Agent Grid
    $("#FreightAgentWindowGrid").kendoGrid({
        dataSource: FreightAgentGridDataSource,
        pageable: true,
        selectable: "row",
        navigatable: true,
        filterable: {
            extra: false,
            operators: {
                string: {
                    startswith: "Starts with",
                    contains: "Contains"
                }
            }
        },
        sortable: true,
        height: 270,
        columns: [
            { field: "BuyerCode", title: "Code" },
            { field: "BuyerName", title: "Name" }
        ]
    });

    //Activate Freight Agent Window
    $('#txtFBDAgentCode').keyup(function (e) {
        if (e.keyCode == 120) {
            GetFrghtAgnt();
            FreightAgentWindow.open();
            FreightAgentWindow.center();
        }
    });

    // ************ Freight Agent Grid & Window Declaration End ************ //

    // ************ Commercial Invoice Grid & Window Declaration ************ //

    //Commercial Invoice Window
    var CommercialInvoiceWindow = $('#CommercialInvoiceWindow').kendoWindow({
        actions: ["Minimize", "Maximize", "Close"],
        visible: false,
        width: "600px",
        //height: "68%",
        title: "Commercial Invoice List",
        position: { top: 50, left: 5 },
        modal: true,
        draggable: true
    }).data('kendoWindow');

    //Commercial Invoice Grid Data Source
    var CommercialInvoiceGridDataSource = new kendo.data.DataSource({
        schema: {
            model: {
                id: "CIID",
                fields: {
                    CIID: { editable: false },
                    CINo: { editable: false },
                    CIRefNo: { editable: false },
                    CIDate: { editable: false },
                    OrdDeliveryMode: { editable: false },
                    ShipmentFrom: { editable: false },
                    ShipmentTo: { editable: false },
                    RecordStatus: { editable: false }
                }
            }
        },
        pageSize: 50
    });

    //Commercial Invoice Grid
    $("#CommercialInvoiceWindowGrid").kendoGrid({
        dataSource: CommercialInvoiceGridDataSource,
        pageable: true,
        selectable: "row",
        navigatable: true,
        filterable: {
            extra: false,
            operators: {
                string: {
                    startswith: "Starts with",
                    contains: "Contains"
                }
            }
        },
        sortable: true,
        height: 270,
        columns: [
            { field: "CINo", title: "CI No." },
            { field: "CIRefNo", title: "CI Ref No." },
            { field: "CIDate", title: "Date" },
            { field: "RecordStatus", title: "Record Status" }
        ]
    });

    //Activate Commercial Invoice Window
    $('#txtFBDCiNo').keyup(function (e) {
        if (e.keyCode == 120) {
            GetComInv();
            CommercialInvoiceWindow.open();
            CommercialInvoiceWindow.center();
        }
    });

    // ************ Commercial Invoice Grid & Window Declaration End ************ //


    // ************ Bill Of Lading Grid & Window Declaration ************ //

    //Bill Of Lading Window
    var BillOfLadingWindow = $('#BillOfLadingWindow').kendoWindow({
        actions: ["Minimize", "Maximize", "Close"],
        visible: false,
        width: "600px",
        //height: "420px",
        title: "Bill Of Lading",
        position: { top: 50, left: 5 },
        modal: true,
        draggable: true
    }).data('kendoWindow');

    //Bill Of Lading Grid Data Source
    var BillOfLadingGridDataSource = new kendo.data.DataSource({
        schema: {
            model: {
                id: "BLID",
                fields: {
                    BLID: { editable: false },
                    BLNo: { editable: false },
                    RefBLNo: { editable: false },
                    BLDate: { editable: false },
                    Shipper: { editable: false },
                    ShipperCode: { editable: false },
                    ShipperName: { editable: false },
                    CIID: { editable: false },
                    CINo: { editable: false },
                    CIRefNo: { editable: false },
                    CIDate: { editable: false },
                    OrdDeliveryMode: { editable: false },
                    ShipmentFrom: { editable: false },
                    ShipmentTo: { editable: false },
                    RecordStatus: { editable: false }
                }
            }
        },
        pageSize: 50
    });

    //Bill of Lading Grid
    $("#BillOfLadingWindowGrid").kendoGrid({
        dataSource: BillOfLadingGridDataSource,
        pageable: true,
        selectable: "row",
        navigatable: true,
        filterable: {
            extra: false,
            operators: {
                string: {
                    startswith: "Starts with",
                    contains: "Contains"
                }
            }
        },
        sortable: true,
        height: 270,
        columns: [
            { field: "BLNo", title: "BL/AWB No." },
            { field: "RefBLNo", title: "BL/AWB Ref No." },
            { field: "BLDate", title: "Date" },
            { field: "RecordStatus", title: "Record Status" }
        ]
    });

    //Activate Bill Of Lading Window
    $('#txtFBDBLNo').keyup(function (e) {
        if (e.keyCode == 120) {
            GetBL();
            BillOfLadingWindow.open();
            BillOfLadingWindow.center();
        }
    });

    // ************ Bill Of Lading & Window Declaration End ************ //

    // ************ Save Changes Window Declaration ************ //

    var SaveChangeWindow = $('#SaveChangeWindow').kendoWindow({
        actions: ["Minimize", "Maximize", "Close"],
        visible: false,
        width: "300px",
        //height: "420px",
        title: "Save changes",
        position: { top: 50, left: 5 },
        modal: true,
        draggable: true
    }).data('kendoWindow');

    // ************ Save Changes Window Declaration End ************ //


    // ************ Delete Confirm Window Declaration ************ //

    var DeleteBillOfLadingConfirmWindow = $('#DeleteBillOfLadingConfirmWindow').kendoWindow({
        actions: ["Minimize", "Maximize", "Close"],
        visible: false,
        width: "300px",
        //height: "420px",
        title: "Confirm Delete!",
        position: { top: 50, left: 5 },
        modal: true,
        draggable: true
    }).data('kendoWindow');

    // ************ Delete Confirm Window Declaration End ************ //

    // ######################################## Grid And Window Declaration End ######################################## //

    // ######################################## Pop-Up Window Events ######################################## //

    // ************ Freight Bill Document Window Pop-up events ************ //

    function GetFrghtBillDoc() {
        $.ajax({
            url: '@Url.Action("GetFreightBillDocs", "FreightBillDoc")',
            type: 'GET',
            //data: ({  }),
            contentType: 'application/json;',
            dataType: 'json',
            success: function (data) {
                if (data != null) {
                    FrghtBillDocGridDataSource.data(data);
                }
            }
        });
    }

    function SetFrghtBillDoc() {
        var gridFrghtBill = $("#FrghtBillDocWindowGrid").data("kendoGrid");
        var selectedFrghtBill = (gridFrghtBill.dataItem(gridFrghtBill.select()));
        $.ajax({
            url: '@Url.Action("GetFrghtBillDoc", "FreightBillDoc")',
            type: 'GET',
            data: ({ fbdId: selectedFrghtBill.FreightBillID }),
            contentType: 'application/json;',
            dataType: 'json',
            success: function (data) {
                if (data != null) {
                    $('#txtFBDAgentId').val(data.FreightAgentID);
                    $('#txtFBDAgentCode').val(data.FreightAgentCode);
                    $('#txtFBDAgentName').val(data.FreightAgentName);
                    $('#txtFBDId').val(data.FreightBillID);
                    $('#txtFBDNo').val(data.FreightBillNo);
                    $('#txtFBDRefNo').val(data.FreightBillRef);
                    $('#txtFBDBillDate').val(data.FreightBillDate);
                    //$('#txtFBDMs1').val(data.MSNo);
                    //$('#txtFBDMSDate').val(data.MSDate);
                    //$('#txtFBDLcId').val(data.LCID);
                    $('#txtFBDCiId').val(data.CIID);
                    $('#txtFBDCiNo').val(data.CIRefNo);
                    $('#txtFBDCiDate').val(data.CIDate);
                    $('#txtFBDDlvryMode').val(data.OrdDeliveryMode);
                    //$('#txtFBDPIID').val(data.PIID);
                    //$('#txtFBDPINo').val(data.PINo);
                    //$('#txtFBDPIDate').val(data.PIDate);
                    $('#txtFBDBLID').val(data.BLID);
                    $('#txtFBDBLNo').val(data.BLNo);
                    $('#txtFBDBLDate').val(data.BLDate);
                    $('#txtFBDShipmentOf').val(data.ShipmentOf);
                    $('#txtFBDShipmentFrom').val(data.ShipmentFrom);
                    $('#txtFBDShipmentTo').val(data.ShipmentTo);
                    $('#txtFBDWbNo').val(data.WBNo);
                    $('#txtFBDWbDate').val(data.WBDate);
                    $('#txtFBDFreightWeight').val(data.FreightWeight);
                    $('#txtFBDFrghtRate').val(data.FreightRate);
                    $('#txtFBDFrghtChrg').val(data.FreightValue);
                    $('#txtFBDTrmnlChrg').val(data.TrminalCharge);
                    $('#txtFBDFmmChrg').val(data.FCSMYCCharge);
                    $('#txtFBDAirWayBill').val(data.AirWayBill);
                    $('#txtFBDSmChrg').val(data.SSCMCCCharge);
                    $('#txtFBDLclChrg').val(data.LocalCarringCharge);
                    $('#ddlFBDCurrencyUnknown').val(data.FreightBillCurrency);
                    $('#txtFBDExamineCharge').val(data.ExamineCharge);
                    $('#txtFBDSpDelChrg').val(data.SpecialDeliveryCharge);
                    $('#txtFBDAmndChrg').val(data.AmendmentCharge);
                    $('#txtFBDCstmChrg').val(data.CustomCharge);
                    $('#txtFBDLdUnldChrg').val(data.LoadUnloadCharge);
                    $('#txtFBDAgncCmsn').val(data.AgencyCommision);
                    $('#txtFBDOthrChrg').val(data.OtherCharge);
                    $('#txtFBDVat').val(data.VATAsReceipt);
                    $('#txtFBDTotalAmnt').val(data.TotalAmt);
                    $('#ddlFBDCurrency').val(data.FreightBillCurrency);
                    $('#txtFBDXchngRate').val(data.ExchangeRate);
                    $('#ddlFBDChangeRateCurrency').val(data.ExchangeCurrency);
                    $('#txtFBDXchngAmt').val(data.ExchangeValue);
                    $('#checkNote').val(data.FreightBillNote);
                    recordStatus = data.RecordStatus;
                    CheckRecordStatusForButton(recordStatus);
                }
            }
        });

        FrghtBillDocWindow.close();
    }

    $('#btnFrghtBillDocWindowOK').click(function () {
        SetFrghtBillDoc();
    });

    $('#FrghtBillDocWindow').dblclick(function () {
        SetFrghtBillDoc();
    });

    $('#FrghtBillDocWindow').keyup(function (e) {
        if (e.keyCode == 13) {
            SetFrghtBillDoc();
        }
    });

    $('#btnFrghtBillDocWindowCancel').click(function () {
        FrghtBillDocWindow.close();
    });

    // ************ Freight Bill Document Window Pop-up events End ************ //


    // ************ Freight Agent Window Pop-up events ************ //

    function GetFrghtAgnt() {
        $.ajax({
            url: '@Url.Action("GetFrghtAgnt", "FreightBillDoc")',
            type: 'GET',
            //data: ({  }),
            contentType: 'application/json;',
            dataType: 'json',
            success: function (data) {
                if (data != null) {
                    FreightAgentGridDataSource.data(data);
                }
            }
        });
    }

    function SetFrghtAgnt() {
        var gridFrghtAgnt = $("#FreightAgentWindowGrid").data("kendoGrid");
        var selectedFrghtAgnt = (gridFrghtAgnt.dataItem(gridFrghtAgnt.select()));
        $('#txtFBDAgentId').val(selectedFrghtAgnt.BuyerID);
        $('#txtFBDAgentCode').val(selectedFrghtAgnt.BuyerCode);
        $('#txtFBDAgentName').val(selectedFrghtAgnt.BuyerName);
        FreightAgentWindow.close();
        setTimeout(function () {
            $('#txtFBDAgentCode').focus();
        }, 1);
        changeStatus = 1;
    }

    $('#btnFreightAgentWindowOK').click(function () {
        SetFrghtAgnt();
    });

    $('#FreightAgentWindowGrid').dblclick(function () {
        SetFrghtAgnt();
    });

    $('#FreightAgentWindowGrid').keyup(function (e) {
        if (e.keyCode == 13) {
            SetFrghtAgnt();
        }
    });

    $('#btnFreightAgentWindowCancel').click(function () {
        FreightAgentWindow.close();
        setTimeout(function () {
            $('#txtFBDAgentCode').focus();
        }, 1);
    });

    // ************ Freight Agent Window Pop-up events End ************ //


    // ************ Commercial Invoice Window Pop-up events ************ //

    function GetComInv() {
        $.ajax({
            url: '@Url.Action("GetComInv", "FreightBillDoc")',
            type: 'GET',
            //data: ({  }),
            contentType: 'application/json;',
            dataType: 'json',
            success: function (data) {
                if (data != null) {
                    CommercialInvoiceGridDataSource.data(data);
                }
            }
        });
    }

    function SetCINo() {
        var gridCiInv = $("#CommercialInvoiceWindowGrid").data("kendoGrid");
        var selectedCiInv = (gridCiInv.dataItem(gridCiInv.select()));
        $('#txtFBDCiId').val(selectedCiInv.CIID);
        $('#txtFBDCiNo').val(selectedCiInv.CIRefNo);
        $('#txtFBDCiDate').val(selectedCiInv.CIDate);
        $('#txtFBDDlvryMode').val(selectedCiInv.OrdDeliveryMode);
        $('#txtFBDShipmentFrom').val(selectedCiInv.ShipmentFrom);
        $('#txtFBDShipmentTo').val(selectedCiInv.ShipmentTo);
        $('#txtFBDBLID').val("");
        $('#txtFBDBLNo').val("");
        $('#txtFBDBLDate').val("");
        $('#txtFBDAgentId').val("");
        $('#txtFBDAgentCode').val("");
        $('#txtFBDAgentName').val("");
        changeStatus = 1;
        CommercialInvoiceWindow.close();
    }

    $('#btnCommercialInvoiceWindowOK').click(function () {
        SetCINo();
    });

    $('#CommercialInvoiceWindowGrid').dblclick(function () {
        SetCINo();
    });

    $('#CommercialInvoiceWindowGrid').keyup(function (e) {
        if (e.keyCode == 13) {
            SetCINo();
        }
    });

    $('#btnCommercialInvoiceWindowCancel').click(function () {
        CommercialInvoiceWindow.close();
    });

    // ************ Commercial Invoice Window Pop-up events End ************ //

    // ************ Bill Of Lading Window Pop-up events ************ //

    // Load Bill Of Lading Grid
    function GetBL() {
        if ($('#txtFBDCiNo').val() == "") {
            $.ajax({
                url: '@Url.Action("GetBillOfLadingListA", "FreightBillDoc")',
                type: 'GET',
                //data: ({  }),
                contentType: 'application/json;',
                dataType: 'json',
                success: function (data) {
                    if (data != null) {
                        BillOfLadingGridDataSource.data(data);
                    }
                }
            });
        } else {
            $.ajax({
                url: '@Url.Action("GetBillOfLadingListB", "FreightBillDoc")',
                type: 'GET',
                data: ({ ciid: $('#txtFBDCiId').val() }),
                contentType: 'application/json;',
                dataType: 'json',
                success: function (data) {
                    if (data != null) {
                        BillOfLadingGridDataSource.data(data);
                    }
                }
            });
        }
    }

    // Set Proforma Invoice Id & No.
    function SetBLNo() {
        var gridPL = $("#BillOfLadingWindowGrid").data("kendoGrid");
        var selectedPL = (gridPL.dataItem(gridPL.select()));
        if ($('#txtFBDCiNo').val() == "") {
            $('#txtFBDCiId').val(selectedPL.CIID);
            //$('#txtFBDLcId').val(selectedPL.LCID);
            $('#txtFBDCiNo').val(selectedPL.CIRefNo);
            $('#txtFBDCiDate').val(selectedPL.CIDate);
            $('#txtFBDDlvryMode').val(selectedPL.OrdDeliveryMode);
            $('#txtFBDShipmentFrom').val(selectedPL.ShipmentFrom);
            $('#txtFBDShipmentTo').val(selectedPL.ShipmentTo);
        }
        $('#txtFBDBLID').val(selectedPL.BLID);
        $('#txtFBDBLNo').val(selectedPL.RefBLNo);
        $('#txtFBDAgentId').val(selectedPL.Shipper);
        $('#txtFBDAgentCode').val(selectedPL.ShipperCode);
        $('#txtFBDAgentName').val(selectedPL.ShipperName);
        //$('#txtFBDLcId').val(selectedPL.LCID);
        $('#txtFBDBLDate').val(selectedPL.BLDate);
        changeStatus = 1;
        BillOfLadingWindow.close();
    }

    $('#btnBillOfLadingWindowOK').click(function () {
        SetBLNo();
    });

    $('#BillOfLadingWindowGrid').dblclick(function () {
        SetBLNo();
    });

    $('#BillOfLadingWindowGrid').keyup(function (e) {
        if (e.keyCode == 13) {
            SetBLNo();
        }
    });

    $('#btnBillOfLadingWindowCancel').click(function () {
        BillOfLadingWindow.close();
    });

    // ************ Proforma Invoice Window Pop-up events End ************ //

    // ######################################## Pop-Up Window Events End ######################################## //

    // ######################################## Calculations Events ######################################## //

    function Calc() {
        var frghtWght = 0;
        var frghtRate = 0;
        var frghtChrg = 0;
        var trmnlChrg = 0;
        var fmmChrg = 0;
        var airWayBill = 0;
        var smChrg = 0;
        var lclCrng = 0;
        var exmneChrg = 0;
        var spclDlvryChrg = 0;
        var amdmntChrg = 0;
        var cstmChrg = 0;
        var ldUnldChrg = 0;
        var agncyCmsn = 0;
        var othrChrg = 0;
        var vat = 0;
        var ttlAmnt = 0;

        if (!isNaN(parseFloat($('#txtFBDFrghtRate').val()))) {
            frghtRate = parseFloat($('#txtFBDFrghtRate').val());
        }
        if (!isNaN(parseFloat($('#txtFBDFrghtChrg').val()))) {
            frghtChrg = parseFloat($('#txtFBDFrghtChrg').val());
        }
        if (!isNaN(parseFloat($('#txtFBDTrmnlChrg').val()))) {
            trmnlChrg = parseFloat($('#txtFBDTrmnlChrg').val());
        }
        if (!isNaN(parseFloat($('#txtFBDFmmChrg').val()))) {
            fmmChrg = parseFloat($('#txtFBDFmmChrg').val());
        }
        if (!isNaN(parseFloat($('#txtFBDAirWayBill').val()))) {
            airWayBill = parseFloat($('#txtFBDAirWayBill').val());
        }
        if (!isNaN(parseFloat($('#txtFBDSmChrg').val()))) {
            smChrg = parseFloat($('#txtFBDSmChrg').val());
        }
        if (!isNaN(parseFloat($('#txtFBDLclChrg').val()))) {
            lclCrng = parseFloat($('#txtFBDLclChrg').val());
        }
        if (!isNaN(parseFloat($('#txtFBDExamineCharge').val()))) {
            exmneChrg = parseFloat($('#txtFBDExamineCharge').val());
        }
        if (!isNaN(parseFloat($('#txtFBDSpDelChrg').val()))) {
            spclDlvryChrg = parseFloat($('#txtFBDSpDelChrg').val());
        }
        if (!isNaN(parseFloat($('#txtFBDAmndChrg').val()))) {
            amdmntChrg = parseFloat($('#txtFBDAmndChrg').val());
        }
        if (!isNaN(parseFloat($('#txtFBDCstmChrg').val()))) {
            cstmChrg = parseFloat($('#txtFBDCstmChrg').val());
        }
        if (!isNaN(parseFloat($('#txtFBDLdUnldChrg').val()))) {
            ldUnldChrg = parseFloat($('#txtFBDLdUnldChrg').val());
        }
        if (!isNaN(parseFloat($('#txtFBDAgncCmsn').val()))) {
            agncyCmsn = parseFloat($('#txtFBDAgncCmsn').val());
        }
        if (!isNaN(parseFloat($('#txtFBDOthrChrg').val()))) {
            othrChrg = parseFloat($('#txtFBDOthrChrg').val());
        }
        if (!isNaN(parseFloat($('#txtFBDVat').val()))) {
            vat = parseFloat($('#txtFBDVat').val());
        }
        ttlAmnt = frghtChrg + trmnlChrg + fmmChrg + airWayBill + smChrg + lclCrng + exmneChrg + spclDlvryChrg + amdmntChrg + cstmChrg + ldUnldChrg + agncyCmsn + othrChrg + vat;
        $('#txtFBDTotalAmnt').val(ttlAmnt.toFixed(3));
    }

    $('.clcField').focusout(function () {
        Calc();
    });

    $('#txtFBDXchngRate').focusout(function () {
        var ttlAmnt = 0;
        var xchngRate = 0;
        var xchngAmt = 0;
        if (!isNaN(parseFloat($('#txtFBDTotalAmnt').val()))) {
            ttlAmnt = parseFloat($('#txtFBDTotalAmnt').val());
        }
        if (ttlAmnt != 0 && !isNaN(parseFloat($('#txtFBDXchngRate').val()))) {
            xchngRate = parseFloat($('#txtFBDXchngRate').val());
            xchngAmt = xchngRate * ttlAmnt;
            $('#txtFBDXchngAmt').val(xchngAmt.toFixed(3));
        }
    });

    var rateChange = 0;
    $("#txtFBDFrghtRate").change(function () {
        rateChange = 1;
    });

    $("#txtFBDFrghtRate").focusout(function () {
        if (rateChange == 1) {
            if ($("#txtFBDFreightWeight").val() != "") {
                var weight = parseFloat($("#txtFBDFreightWeight").val());
                var rate = parseFloat($("#txtFBDFrghtRate").val());
                var chrg = weight * rate;
                $('#txtFBDFrghtChrg').val(chrg.toFixed(3));
                rateChange = 0;
            }
        }
    });

    //$("#txtFBDFrghtChrg").focusout(function() {
    //    if ($("#txtFBDFreightWeight").val() != "" && $("#txtFBDFrghtRate").val() != "") {
    //        var weight = parseFloat($("#txtFBDFreightWeight").val());
    //        var rate = parseFloat($("#txtFBDFrghtRate").val());
    //        var chrg = weight * rate;
    //        $('#txtFBDFrghtChrg').val(chrg.toFixed(3));
    //    }
    //});

    // ######################################## Calculations Events End ######################################## //

    // ######################################## Save and Update ######################################## //

    function Save() {
        //doesDataSourceHaveChanges();
        var bill = new Object();
        bill.FreightBillID = $('#txtFBDId').val();
        bill.FreightBillNo = $('#txtFBDNo').val();
        bill.FreightBillRef = $('#txtFBDRefNo').val();
        bill.FreightBillDate = $('#txtFBDBillDate').val();
        //bill.LCID = $('#txtFBDLcId').val();
        //bill.PIID = $('#txtFBDPIID').val();
        bill.BLID = $('#txtFBDBLID').val();
        bill.CIID = $('#txtFBDCiId').val();
        bill.FreightAgentID = $('#txtFBDAgentId').val();
        //bill.NotifyTo = $('#txtFBDAgentId').val();
        bill.MSNo = $('#txtFBDMs1').val();
        bill.MSDate = $('#txtFBDMSDate').val();
        bill.ShipmentOf = $('#txtFBDShipmentOf').val();
        bill.ShipmentFrom = $('#txtFBDShipmentFrom').val();
        bill.ShipmentTo = $('#txtFBDShipmentTo').val();
        bill.WBNo = $('#txtFBDWbNo').val();
        bill.WBDate = $('#txtFBDWbDate').val();
        bill.FreightWeight = $('#txtFBDFreightWeight').val();
        bill.FreightRate = $('#txtFBDFrghtRate').val();
        bill.FreightValue = $('#txtFBDFrghtChrg').val();
        bill.FreightBillCurrency = $('#ddlFBDCurrency').val();
        bill.ExchangeCurrency = $('#ddlFBDChangeRateCurrency').val();
        bill.ExchangeRate = $('#txtFBDXchngRate').val();
        bill.ExchangeValue = $('#txtFBDXchngAmt').val();
        //bill.THCharge = $('#txtFBDXchngAmt').val();
        bill.AirWayBill = $('#txtFBDAirWayBill').val();
        bill.FCSMYCCharge = $('#txtFBDFmmChrg').val();
        bill.SSCMCCCharge = $('#txtFBDSmChrg').val();
        bill.OtherCharge = $('#txtFBDOthrChrg').val();
        bill.LocalCarringCharge = $('#txtFBDLclChrg').val();
        bill.CustomCharge = $('#txtFBDCstmChrg').val();
        bill.VATAsReceipt = $('#txtFBDVat').val();
        bill.LoadUnloadCharge = $('#txtFBDLdUnldChrg').val();
        //bill.GSPEXpence = $('#txtFBDLdUnldChrg').val();
        bill.AgencyCommision = $('#txtFBDAgncCmsn').val();
        bill.SpecialDeliveryCharge = $('#txtFBDSpDelChrg').val();
        bill.TotalAmt = $('#txtFBDTotalAmnt').val();
        //bill.AdvanceAmt = $('#txtFBDTotalAmnt').val();
        //bill.NetFreightAmt = $('#txtFBDTotalAmnt').val();
        bill.TrminalCharge = $('#txtFBDTrmnlChrg').val();
        bill.ExamineCharge = $('#txtFBDExamineCharge').val();
        bill.AmendmentCharge = $('#txtFBDAmndChrg').val();
        bill.FreightBillNote = $('#checkNote').val();

        $("#divLoading").show();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Save", "FreightBillDoc")',
            dataType: 'JSON',
            data: JSON.stringify({ model: bill }),
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                if (response.Type == 2) {
                    $("#txtFBDId").val(response.ReturnId);
                    $("#txtFBDNo").val(response.ReturnCode);
                    //GetAndSetBillOfLading(response.ReturnId);
                    $("#divLoading").hide();
                    $('#MessageText').html(response.Msg);
                    $("#MessageText").css({ 'color': 'green', 'font-size': 'larger', 'font-weight': 'bold', 'text-align': 'center' });
                    changeStatus = 0;
                } else if (response.Type == 3) {
                    $("#divLoading").hide();
                    $('#MessageText').html(response.Msg);
                    $("#MessageText").css({ 'color': 'green', 'font-size': 'larger', 'font-weight': 'bold', 'text-align': 'center' });
                    changeStatus = 0;
                } else {
                    $("#divLoading").hide();
                    $('#MessageText').html(response.Msg);
                    $("#MessageText").css({ 'color': 'red', 'font-size': 'larger', 'font-weight': 'bold', 'text-align': 'center' });
                }
            },
            error: function () {
                $("#divLoading").hide();
                $('#MessageText').html("");
                $("#MessageText").css({ 'color': 'red', 'font-size': 'larger', 'font-weight': 'bold', 'text-align': 'center' });
            }
        });

    }

    $("#btnSave").click(function () {
        if (changeStatus == 1) {
            Save();
        } else {
            $('#MessageText').html("There are no changes to save.");
            $("#MessageText").css({ 'color': 'red', 'font-size': 'larger', 'font-weight': 'bold', 'text-align': 'center' });
        }
    });

    // ######################################## Save and Update End ######################################## //

    // ######################################## Confirm ######################################## //

    function Confirm() {
        $("#divLoading").show();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Confirm", "FreightBillDoc")',
            dataType: 'JSON',
            data: JSON.stringify({ id: $("#txtFBDId").val(), note: $("#checkNote").val() }),
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                if (response.Type == 2) {
                    $("#divLoading").hide();
                    $('#MessageText').html(response.Msg);
                    $("#MessageText").css(
                        { 'color': 'green', 'font-size': 'larger', 'font-weight': 'bold', 'text-align': 'center' });
                    recordStatus = "CNF";
                    CheckRecordStatusForButton(recordStatus);
                } else {
                    $("#divLoading").hide();
                    $('#MessageText').html(response.Msg);
                    $("#MessageText").css(
                        { 'color': 'red', 'font-size': 'larger', 'font-weight': 'bold', 'text-align': 'center' });
                }
            },
            error: function () {
                $("#divLoading").hide();
                $('#MessageText').html("Failed to confirm.");
                $("#MessageText").css(
                    { 'color': 'red', 'font-size': 'larger', 'font-weight': 'bold', 'text-align': 'center' });
            }
        });
    }

    $("#btnConfirm").click(function () {
        if ($("#txtFBDId").val() != "" && changeStatus != 1) {
            Confirm();
        } else {
            $('#MessageText').html("Please save first.");
            $("#MessageText").css(
                { 'color': 'red', 'font-size': 'larger', 'font-weight': 'bold', 'text-align': 'center' });
        }
    });


    // ######################################## Confirm End ######################################## //

    // ######################################## Check ######################################## //

    function Check() {
        $("#divLoading").show();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Check", "FreightBillDoc")',
            dataType: 'JSON',
            data: JSON.stringify({ id: $("#txtFBDId").val(), note: $("#checkNote").val() }),
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                if (response.Type == 2) {
                    $("#divLoading").hide();
                    $('#MessageText').html(response.Msg);
                    $("#MessageText").css(
                        { 'color': 'green', 'font-size': 'larger', 'font-weight': 'bold', 'text-align': 'center' });
                    recordStatus = "CHK";
                    CheckRecordStatusForButton(recordStatus);
                } else {
                    $("#divLoading").hide();
                    $('#MessageText').html(response.Msg);
                    $("#MessageText").css(
                        { 'color': 'red', 'font-size': 'larger', 'font-weight': 'bold', 'text-align': 'center' });
                }
            },
            error: function () {
                $("#divLoading").hide();
                $('#MessageText').html("Failed to check.");
                $("#MessageText").css(
                    { 'color': 'red', 'font-size': 'larger', 'font-weight': 'bold', 'text-align': 'center' });
            }
        });
    }

    $("#btnCheck").click(function () {
        if ($("#txtFBDId").val() != "" && changeStatus != 1) {
            Check();
        } else {
            $('#MessageText').html("Please save first.");
            $("#MessageText").css(
                { 'color': 'red', 'font-size': 'larger', 'font-weight': 'bold', 'text-align': 'center' });
        }
    });

    // ######################################## Check End ######################################## //

    // ######################################## Delete ######################################## //

    function Delete(id) {
        $("#divLoading").show();
        $.ajax({
            url: '@Url.Action("Delete", "FreightBillDoc")',
            type: 'GET',
            data: ({ "id": id }),
            contentType: 'application/json;',
            dataType: 'json',
            success: function (response) {
                if (response.Type == 4) {
                    $("#divLoading").hide();
                    $('#MessageText').html(response.Msg);
                    $("#MessageText").css({ 'color': 'green', 'font-size': 'larger', 'font-weight': 'bold', 'text-align': 'center' });
                    changeStatus = 1;
                    Reset();
                } else {
                    $("#divLoading").hide();
                    $("#MessageText").html(response.Msg);
                    $("#MessageText").css({ "color": "red", 'font-size': 'larger', 'font-weight': 'bold', 'text-align': 'center' });

                }

            },
            error: function () {
                $("#divLoading").hide();
                $("#MessageText").html("Failed to delete.");
                $("#MessageText").css({ "color": "red", 'font-size': 'larger', 'font-weight': 'bold', 'text-align': 'center' });
            }
        });

    }

    $("#btnDelete").click(function () {
        DeleteBillOfLadingConfirmWindow.open();
        DeleteBillOfLadingConfirmWindow.center();
    });

    $("#btnDeleteBillOfLadingOK").click(function () {
        if ($("#txtFBDId").val() != "") {
            Delete($("#txtFBDId").val());
            DeleteBillOfLadingConfirmWindow.close();
        } else {
            $("#MessageText").html("The freight bill is not saved.");
            $("#MessageText").css({ "color": "red", 'font-size': 'larger', 'font-weight': 'bold', 'text-align': 'center' });
        }
    });

    $("#btnDeleteBillOfLadingCancel").click(function () {
        DeleteBillOfLadingConfirmWindow.close();
    });


    // ######################################## Delete End ######################################## //

    // ######################################## Variables ######################################## //

    var changeStatus = 0;
    var dataItem;
    var saveStatus = 0;
    var recordStatus = "";

    // ######################################## Variables End ######################################## //


    $(".txtField").change(function () {
        changeStatus = 1;
    });

    function doesDataSourceHaveChanges(ds) {
        var dirty = false; $.each(ds._data, function () {
            if (this.dirty == true) {
                dirty = true;
                changeStatus = 1;
            }
        });
        if (ds._destroyed.length > 0) {
            dirty = true;
            changeStatus = 1;
        }
        return dirty;
    }

    // ######################################## Reset ######################################## //

    function Reset() {
        changeStatus = 0;
        recordStatus = "";
        $(".txtField").val("");
        $("#checkNote").val("");
        CheckRecordStatusForButton(recordStatus);
    }

    $("#btnReset").click(function () {
        if (changeStatus != 1) {
            Reset();
        } else {
            SaveChangeWindow.open();
            SaveChangeWindow.center();
        }
    });

    $("#btnSaveChangeWindowOk").click(function () {
        Reset();
        SaveChangeWindow.close();
    });

    $("#btnSaveChangeWindowCancel").click(function () {
        SaveChangeWindow.close();
    });

    // ######################################## Reset End ######################################## //

    // ######################################## Function Calls ######################################## //
    numberCheck("txtFBDFreightWeight");
    numberCheck("txtFBDFrghtRate");
    numberCheck("txtFBDFrghtChrg");
    numberCheck("txtFBDTrmnlChrg");
    numberCheck("txtFBDFmmChrg");
    numberCheck("txtFBDAirWayBill");
    numberCheck("txtFBDSmChrg");
    numberCheck("txtFBDLclChrg");
    numberCheck("txtFBDExamineCharge");
    numberCheck("txtFBDSpDelChrg");
    numberCheck("txtFBDAmndChrg");
    numberCheck("txtFBDCstmChrg");
    numberCheck("txtFBDLdUnldChrg");
    numberCheck("txtFBDAgncCmsn");
    numberCheck("txtFBDOthrChrg");
    numberCheck("txtFBDVat");
    numberCheck("txtFBDTotalAmnt");
    numberCheck("txtFBDXchngRate");
    ClearOperationalMessage();
    // ######################################## Function Calls End ######################################## //
    FocusOnField();
    FocusOutField();




</script>
